.form {

    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    textarea {
        padding: .5em;
        resize: none;
        font-size: 1rem;
        outline: none;
        border: none;
        background: #f0edf596;
        border-radius: 8px;
    }

    ::placeholder {

        color: #442781;
        opacity: 1;

    }

    textarea:focus,
    textarea:active {
        box-shadow: rgba(80, 63, 205, 0.5) 0 1px 8px;
    }
}


@media screen and (min-width:768px) {
    .form {
        width: 35%;

        textarea {
            font-size: 1.3rem;
        }
    }
}