.heading-container {
    width: 60%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .main-heading {
        color: #1b2430;
        text-align: center;
        font-size: 2.5rem;
        line-height: 1.2em;
    }

    .sub-heading {
        font-size: 1.3rem;

        span {

            display: block;
        }
    }
}


@media screen and (min-width:768px) {

    .heading-container {
        .main-heading {
            font-size: 3.5rem;
        }

        .sub-heading {
            font-size: 1.5rem;
            gap: .5em;

        }
    }

}